#latex files 
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.aux

# ignore all of the mac .DS_store files 
.DS_Store 
*.DS_Store

#ignore R history files 
*.Rhistory
